:root {
  --piece-width: 50px;
  --cube-width: 150px;
  --mobile-piece-width: 50px;
  --mobile-cube-width: 150px;
}

.cube-container {
  width: auto;
  height: 100%;
  min-height: 300px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cube {
  width: var(--cube-width);
  height: var(--cube-width);
  position: relative;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.cube__piece {
  display: block;
  width: var(--piece-width);
  height: var(--piece-width);
  position: absolute;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  pointer-events: none;
}

.piece__side {
  display: block;
  position: absolute;
  width: var(--piece-width);
  height: var(--piece-width);
  line-height: var(--piece-width);
  text-align: center;
  /*pointer-events: none;*/
}

.piece__side--front,
.piece__side--back,
.piece__side--up,
.piece__side--down,
.piece__side--right,
.piece__side--left {
  background-color: rgb(0, 0, 0);
}

@media only screen and (max-width: 720px) {
  .cube-container {
    padding: 5px 0 5px 0;
  }

  .cube {
    width: var(--mobile-cube-width);
    height: var(--mobile-cube-width);
  }

  .cube__piece {
    width: var(--mobile-piece-width);
    height: var(--mobile-piece-width);
  }

  .piece__side {
    width: var(--mobile-piece-width);
    height: var(--mobile-piece-width);
    line-height: var(--mobile-piece-width);
  }
}
